$primaryBlue: #3E63D3;
$primaryOrange: #FE7308;
$primaryGreen: #00330F;
$neonGreen: #CFF850;
$neutral: #FDFAF5;
$white: #FFFFFF;
$black: #000000;

:export {
    primaryBlue: $primaryBlue;
    primaryOrange: $primaryOrange;
    primaryGreen: $primaryGreen;
    primaryNeonGreen: $neonGreen;
    neutral: $neutral;
    white: $white;
    black: $black;
  }