.space-8{
   height: 8px;
    display:flex;
   // background-color: aqua;
}

.space-16{
    height: 16px;
     display:flex;
   //  background-color: aqua;
 }

 .space-24{
    height: 24px;
     display:flex;
  //   background-color: aqua;
 }

 .space-32{
    height: 32px;
     display:flex;
    // background-color: aqua;
 }

 .space-40{
    height: 40px;
     display:flex;
   //  background-color: aqua;
 }